<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>TaskController</servlet-name>
<servlet-class>servlet.TaskController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TaskController</servlet-name>
<url-pattern>/TaskController</url-pattern>
</servlet-mapping>
</web-app>
